{% comment %}

  Renders a button click show cart
  Request:null
  Accepts:null
  Usage:
   {% render 'button-cart' %}

{% endcomment %}


<a style="margin:0" href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
    {%- liquid
      if cart == empty
        render 'icon-cart-empty'
      else
        render 'icon-cart'
      endif
    -%}
    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
    {%- if cart != empty -%}
      <div class="cart-count-bubble">
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </div>
    {%- endif -%}
  </a>